# Exercise 6.16

In [1]:
import pathlib
import numpy as np
import pandas as pd
from scipy import stats
from scipy import linalg as la

In [2]:
def load_data() -> pd.DataFrame:
    df = pd.read_excel(r'..\..\data\Table4.3.xlsx')

    return df

In [3]:
df = load_data()
df.head(3)

   Obs    x1    x2    x3    x4    d2
0    1  1889  1651  1561  1778  0.60
1    2  2403  2048  2087  2197  5.48
2    3  2119  1700  1815  2222  7.62

In [4]:
n = df.shape[0]
p = 4
C = (-1 * np.diag(np.ones(p-1), 1) + np.diag(np.ones(p)))[:-1,:]

In [5]:
X = df[["x" + str(i) for i in range(1,5)]].to_numpy()

In [6]:
xbar = np.mean(X, axis=0)[:, np.newaxis]
S = np.cov(X, rowvar=False)

In [7]:
T2 = n * ((C @ xbar).T @ la.inv(C @ S @ C.T) @ (C @ xbar)).item()
T2

254.72120597668084

In [8]:
alpha = 0.05
f_crit = (((n-1)*(p-1))/(n-p+1)) * stats.f.ppf(1-alpha, dfn=p-1, dfd=n-p+1)

In [9]:
c = np.array([[1,1,-1,-1]]).T

c.T @ xbar + np.array([-1,1]) * np.sqrt(f_crit) * np.sqrt((c.T @ S @ c)/n)

array([[247.03966369, 596.02700298]])